<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <v-card>
      <v-card-title>
        <v-row>
          <v-col> Perfil </v-col>
          <v-col cols="auto" v-if="hasPermission('PROFILE.CRUD')">
            <v-btn
              color="primary"
              small
              :to="{ name: 'profiles-edit', params: { id: 0 } }"
            >
              <v-icon small>mdi-plus</v-icon> Novo perfil
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="profiles"
          :options.sync="options"
          :items-per-page="perPage"
          :server-items-length="totalRecords"
          :loading="loading"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <DeleteAlertModal
              v-if="hasPermission('PROFILE.CRUD')"
              @delete="deleteProfile(item.id)"
            />
            <v-btn
              color="primary"
              :to="{ name: 'profiles-edit', params: { id: item.id } }"
              icon
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ProfileService from "@/services/ProfileService";
export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Colaboradores",
          disabled: true,
        },
        {
          text: "Gerenciar perfis",
          disabled: true,
        },
      ],
      headers: [
        {
          text: "Perfil",
          value: "name",
        },
        {
          text: "Ações",
          value: "actions",
          align: "end",
          filterable: false,
          sortable: false,
        },
      ],
      options: {
        sortBy: ["name"],
        sortDesc: [false],
      },
      totalRecords: 0,
      perPage: 10,
      profiles: [],
      loading: false,
    };
  },
  watch: {
    options: {
      handler() {
        this.fetchProfiles();
      },
      deep: true,
    },
  },
  methods: {
    fetchProfiles: function () {
      this.loading = true;
      this.profiles = [];

      return ProfileService.paginate({ ...this.options })
        .then((response) => {
          this.profiles = response.data;
          this.totalRecords = response.meta.total;
        })
        .finally(() => (this.loading = false));
    },
    deleteProfile: function (id) {
      return ProfileService.delete(id).then(() => {
        this.fetchProfiles();
      });
    },
  },
};
</script>