<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <LoadingModal v-model="loading" />

    <v-card>
      <v-card-title>
        {{ $route.params.id > 0 ? "Editar perfil" : "Novo perfil" }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form" @submit.prevent="save()">
          <v-row>
            <v-col>
              <v-text-field
                v-model="profile.name"
                label="Nome do perfil"
                :rules="nameRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-card>
                <v-card-title> Gerenciar recursos </v-card-title>
                <v-card-text>
                  <v-simple-table dense>
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-left">Permitido</th>
                          <th class="text-left">Recurso</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="item in accesses" :key="item.id">
                          <td>
                            <v-checkbox
                              v-model="item.checked"
                              @click="toggleAccess(item)"
                              dense
                            ></v-checkbox>
                          </td>
                          <td>{{ item.feature }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <v-row justify="end">
            <v-col cols="auto" @click="$router.back()">
              <v-btn><v-icon small>mdi-arrow-left-circle</v-icon> Voltar</v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn color="success" :loading="saving" type="submit">
                <v-icon small>mdi-content-save</v-icon> Salvar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import AccessService from "@/services/AccessService";
import ProfileService from "@/services/ProfileService";
import { required, maxLength } from "@/rules";
export default {
  props: ["id"],
  data() {
    return {
      breadcrumbs: [
        {
          text: "Perfil",
          to: "/system/profiles",
        },
        {
          text: this.$route.params.id > 0 ? "Editar perfil" : "Novo perfil",
          disabled: true,
        },
      ],

      valid: false,
      saving: false,
      loading: false,
      profile: {},
      accesses: [],
      nameRules: [required(), maxLength(255)],
    };
  },
  methods: {
    save: async function () {
      if (!this.$refs.form.validate()) return;

      this.saving = true;
      try {
        if (this.$route.params.id > 0) await ProfileService.edit(this.profile);
        else await ProfileService.create(this.profile);

        this.$snotify.success("Informações salvas com sucesso");
        this.$router.back();
      } finally {
        this.saving = false;
      }
    },
    setCheckedAccesses: function () {
      let updated_accesses = [...this.accesses];
      this.profile.accesses.forEach((access) => {
        let index = updated_accesses.findIndex(({ id }) => id === access.id);
        if (index !== -1) {
          updated_accesses[index].checked = 1;
        }
      });
      this.accesses = { ...updated_accesses };
    },
    toggleAccess: function (item) {
      if (this.isEmpty(this.profile.accesses)) this.profile.accesses = [];
      if (item.checked) {
        this.profile.accesses.push(item);
      } else {
        const index = this.profile.accesses.findIndex(
          ({ id }) => id == item.id
        );
        console.log("INDEX", index);
        this.profile.accesses.splice(index, 1);
      }
    },
  },
  async mounted() {
    this.loading = true;
    this.accesses = await AccessService.all();
    if (this.$route.params.id > 0) {
      this.profile = await ProfileService.get(this.$route.params.id);
      this.setCheckedAccesses();
    }
    this.loading = false;
  },
};
</script>