<template>
  <v-dialog v-model="dialog" max-width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="error" icon v-bind="attrs" v-on="on">
        <v-icon>mdi-lock-question</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        Deseja enviar uma nova senha ao usuário?
      </v-card-title>
      <v-card-text>
        Ao concordar com o envio, a senha atual do usuário será invalidada, e
        uma nova senha será enviada para este endereço de e-mail:
        <b>{{ email }}</b>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="dialog = false"> Cancelar </v-btn>
        <v-btn color="success" outlined @click="send()"> Enviar </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: ["email"],
  data() {
    return {
      dialog: false,
      loading: false,
    };
  },
  methods: {
    send: function () {
      this.loading = true;
      this.dialog = false;
    },
  },
};
</script>