<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <LoadingModal v-model="loading" />

    <v-card>
      <v-card-title>
        {{ $route.params.id > 0 ? "Editar usuário" : "Novo usuário" }}
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-row>
            <v-col cols="6">
              <v-text-field
                v-model="user.name"
                :rules="rules.name"
                label="Nome"
              ></v-text-field>
            </v-col>
            <v-col cols="4">
              <v-text-field
                v-model="user.email"
                :rules="rules.email"
                label="E-mail"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row>
            <v-col>
              <v-select
                v-model="user.profile_id"
                label="Perfil"
                :items="profiles"
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>
            <v-col>
              <v-select
                v-model="user.department_id"
                label="Departamento ou Setor"
                :items="departments"
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>
            <v-col>
              <v-select
                v-model="user.position_id"
                label="Cargo ou Função"
                :items="positions"
                item-text="name"
                item-value="id"
              ></v-select>
            </v-col>
          </v-row>

          <v-row justify="end">
            <v-col cols="auto" @click="$router.back()">
              <v-btn><v-icon small>mdi-arrow-left-circle</v-icon> Voltar</v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn color="success" :loading="saving" @click="save()">
                <v-icon small>mdi-content-save</v-icon> Salvar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { required, maxLength, minLength, email } from "@/rules";
import UserService from "@/services/UserService";
import ProfileService from "@/services/ProfileService";
import DepartmentService from "@/services/DepartmentService";
import PositionService from "@/services/PositionService";

export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Usuários",
          to: "/system/users",
        },
        {
          text: this.$route.params.id > 0 ? "Editar usuário" : "Novo usuário",
          disabled: true,
        },
      ],
      valid: false,
      user: {},
      rules: {
        name: [required(), minLength(4), maxLength(255)],
        email: [required(), email()],
      },
      loading: false,
      saving: false,
      profiles: [],
      departments: [],
      positions: [],
    };
  },
  methods: {
    save: async function () {
      if (!this.$refs.form.validate()) return;

      this.saving = true;
      try {
        if (this.$route.params.id > 0) await UserService.edit(this.user);
        else await UserService.create(this.user);

        this.$snotify.success("Informações salvas com sucesso");
        this.$router.back();
      } finally {
        this.saving = false;
      }
    },
  },
  mounted: async function () {
    this.loading = true;
    try {
      this.profiles = await ProfileService.all();
      this.departments = await DepartmentService.all();
      this.positions = await PositionService.all();

      if (this.$route.params.id > 0)
        this.user = await UserService.get(this.$route.params.id);
    } finally {
      this.loading = false;
    }
  },
};
</script>