<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <v-card>
      <v-card-title>
        <v-row>
          <v-col> Usuários </v-col>
          <v-col cols="auto" v-if="hasPermission('USER.CRUD')">
            <v-btn
              color="primary"
              small
              :to="{ name: 'user-edit', params: { id: 0 } }"
            >
              <v-icon small>mdi-plus</v-icon> Novo usuário
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-text-field
          v-model="search"
          append-icon="mdi-magnify"
          label="Pesquisar"
          filled
          dense
          clearable
          v-on:keyup.enter="fetchUsers"
          @click:append="fetchUsers"
        ></v-text-field>

        <v-data-table
          :headers="headers"
          :items="users"
          :options.sync="options"
          :items-per-page="perPage"
          :server-items-length="totalRecords"
          :loading="loading"
          multi-sort
        >
          <template v-slot:[`item.actions`]="{ item }">
            <DeleteAlertModal
              v-if="hasPermission('USER.CRUD')"
              @delete="deleteUser(item.id)"
            />
            <ResetPasswordModal :email="item.email" />

            <v-btn
              color="primary"
              :to="{ name: 'user-edit', params: { id: item.id } }"
              icon
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import ResetPasswordModal from "./ResetPasswordModal";
import UserService from "@/services/UserService";

export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Colaboradores",
          disabled: true,
        },
        {
          text: "Gerenciar usuários",
          disabled: true,
        },
      ],
      headers: [
        {
          text: "Nome",
          value: "name",
        },
        {
          text: "E-mail",
          value: "email",
        },
        {
          text: "Departamento",
          value: "department.name",
        },
        {
          text: "Cargo",
          value: "position.name",
        },
        {
          text: "Perfil",
          value: "profile.name",
        },
        {
          text: "Ações",
          value: "actions",
          align: "end",
          filterable: false,
          sortable: false,
        },
      ],
      options: {
        sortBy: ["name"],
        sortDesc: [false],
      },
      search: "",
      totalRecords: 0,
      perPage: 10,
      users: [],
      loading: false,
    };
  },
  watch: {
    options: {
      handler() {
        this.fetchUsers();
      },
      deep: true,
    },
  },
  methods: {
    fetchUsers: function () {
      this.loading = true;

      const params = { ...this.options, search: this.search };

      return UserService.paginate(params)
        .then((response) => {
          this.users = response.data;
          this.totalRecords = response.meta.total;
        })
        .finally(() => (this.loading = false));
    },
    deleteUser: function (id) {
      return UserService.delete(id).then(() => {
        this.fetchUsers();
      });
    },
  },
};
</script>