<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <LoadingModal v-model="loading" />

    <v-card>
      <v-card-title>
        {{ $route.params.id > 0 ? "Editar departamento" : "Novo departamento" }}
      </v-card-title>

      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-row>
            <v-col>
              <v-text-field
                v-model="department.name"
                label="Nome do departamento"
                :rules="nameRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row justify="end">
            <v-col cols="auto" @click="$router.back()">
              <v-btn><v-icon small>mdi-arrow-left-circle</v-icon> Voltar</v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn color="success" :loading="saving" @click="save()">
                <v-icon small>mdi-content-save</v-icon> Salvar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import DepartmentService from "@/services/DepartmentService";
import { required, maxLength } from "@/rules";
export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Departamentos",
          to: "/system/departments",
        },
        {
          text:
            this.$route.params.id > 0
              ? "Editar departamento"
              : "Novo departamento",
          disabled: true,
        },
      ],
      valid: false,
      saving: false,
      loading: false,
      department: {},
      nameRules: [required(), maxLength(255)],
    };
  },
  methods: {
    save: async function () {
      if (!this.$refs.form.validate()) return;

      this.saving = true;
      try {
        if (this.$route.params.id > 0)
          await DepartmentService.edit(this.department);
        else await DepartmentService.create(this.department);

        this.$snotify.success("Informações salvas com sucesso");
        this.$router.back();
      } finally {
        this.saving = false;
      }
    },
  },
  async mounted() {
    this.loading = true;
    if (this.$route.params.id > 0)
      this.department = await DepartmentService.get(this.$route.params.id);
    this.loading = false;
  },
};
</script>