<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <v-card>
      <v-card-title>
        <v-row>
          <v-col> Departamentos </v-col>
          <v-col cols="auto">
            <v-btn
              color="primary"
              small
              :to="{ name: 'departments-edit', params: { id: 0 } }"
            >
              <v-icon small>mdi-plus</v-icon> Novo departamento
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="departments"
          :options.sync="options"
          :items-per-page="perPage"
          :server-items-length="totalRecords"
          :loading="loading"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <DeleteAlertModal
              v-if="hasPermission('DEPARTMENT.CRUD')"
              @delete="deleteDepartment(item.id)"
            />
            <v-btn
              color="primary"
              :to="{ name: 'departments-edit', params: { id: item.id } }"
              icon
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import DepartmentService from "@/services/DepartmentService";
export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Colaboradores",
          disabled: true,
        },
        {
          text: "Gerenciar departamentos",
          disabled: true,
        },
      ],
      headers: [
        {
          text: "Departamento",
          value: "name",
        },
        {
          text: "Ações",
          value: "actions",
          align: "end",
          filterable: false,
          sortable: false,
        },
      ],
      options: {
        sortBy: ["name"],
        sortDesc: [false],
      },
      totalRecords: 0,
      perPage: 10,
      departments: [],
      loading: false,
    };
  },
  watch: {
    options: {
      handler() {
        this.fetchDepartments();
      },
      deep: true,
    },
  },
  methods: {
    fetchDepartments: async function () {
      this.loading = true;
      this.departments = [];

      return DepartmentService.paginate({ ...this.options })
        .then((response) => {
          this.departments = response.data;
          this.totalRecords = response.meta.total;
        })
        .finally(() => (this.loading = false));
    },
    deleteDepartment: function (id) {
      return DepartmentService.delete(id).then(() => {
        this.fetchDepartments();
      });
    },
  },
};
</script>