<template>
  <div>
    <v-app>
      <v-main>
        <router-view />
      </v-main>
      <vue-snotify></vue-snotify>
    </v-app>
  </div>
</template>

<script>
export default {
  mounted() {
    window.addEventListener("service_event", (event) => {
      this.$snotify.error(event.detail.message);
    });
  },
};
</script>


<style>
.html {
  word-break: normal;
}
.v-card__title {
  word-break: normal;
}
</style>