<template>
  <v-container
    class="text-center"
    fill-height
    style="height: calc(100vh - 64px)"
  >
    <v-row align="center">
      <v-col>
        <h1 class="display-2 warning--text">
          Oops
          <v-icon color="warning" large>mdi-hand-right</v-icon>
        </h1>

        <p>Você não tem permissão para este recurso.</p>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {};
</script>