<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :nudge-right="40"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on }">
      <v-text-field
        v-model="date"
        v-bind="$attrs"
        v-on="on"
        v-mask="'##/##/####'"
        readonly
      ></v-text-field>
    </template>
    <v-date-picker
      color="primary"
      v-model="pickerDate"
      @input="menu = false"
      locale="pt-br"
      show-current
    ></v-date-picker>
  </v-menu>
</template>

<script>
export default {
  props: ["value"],
  data() {
    return { menu: false };
  },

  computed: {
    pickerDate: {
      get: function () {
        return this.value;
      },
      set: function (newValue) {
        this.$emit("input", newValue);
      },
    },
    date: function () {
      return this.brDate(this.pickerDate);
    },
  },

  watch: {},

  methods: {},
};
</script>