<template>
  <v-dialog v-model="dialog" max-width="500">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="error" icon v-bind="attrs" v-on="on">
        <v-icon>mdi-delete</v-icon>
      </v-btn>
    </template>
    <v-card>
      <v-card-title class="headline">
        Tem certeza que deseja deletar este registro?
      </v-card-title>
      <v-card-text>
        Ao confirmar, o registro será excluído e não poderá ser recuperado.
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn text @click="dialog = false"> Cancelar </v-btn>
        <v-btn color="error" outlined @click="confirm()"> Deletar </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data() {
    return {
      dialog: false,
    };
  },
  methods: {
    confirm: function () {
      this.dialog = false;
      this.$emit("delete");
    },
  },
};
</script>