<template></template>

<script>
export default {
  props: [],
  data() {
    return {};
  },
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

.timeline {
  min-width: 50%;
  max-width: 80%;
  margin: auto;
}
.timeline:before {
  background: #fff;
}
.timeline p {
  font-size: 1em;
  line-height: 1.75em;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #043b8d 0%, #9abbec 100%);
  border-image-slice: 1;
  border-width: 3px;
  margin: 0;
  padding: 40px;
  counter-increment: section;
  position: relative;
  color: #34435e;
}
.timeline p:before {
  content: counter(section);
  position: absolute;
  border-radius: 50%;
  /* padding: 10px; */
  height: 1.25em;
  width: 1.25em;
  background-color: #34435e;
  text-align: center;
  line-height: 1.25em;
  color: #fff;
  font-size: 2em;
}
.timeline p:nth-child(odd) {
  border-right: 3px solid;
  padding-left: 0;
  text-align: right;
}
.timeline p:nth-child(odd):before {
  left: 100%;
  margin-left: -15px;
}
.timeline p:nth-child(even) {
  border-left: 3px solid;
  padding-right: 0;
}
.timeline p:nth-child(even):before {
  right: 100%;
  margin-right: -15px;
}
.timeline p:first-child {
  border-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.timeline p:last-child {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.timeline-etapa {
  font-size: 1.25em;
}

.card-border {
  border: 2px solid;
  border-image: linear-gradient(to right, #043b8d 0%, #9abbec 100%);
  border-image-slice: 1;
}
</style>