<template>
  <div>
    <SystemLeftMenu />
    <SystemTopBar />
    <SystemFooter />

    <LoadingModal v-model="loading" />

    <div class="pl-2 pr-2" style="padding-bottom: 70px">
      <router-view />
    </div>
  </div>
</template>

<script>
import SystemTopBar from "./TopBar";
import SystemLeftMenu from "./LeftMenu";
import SystemFooter from "./Footer";
import { mapState } from "vuex";
import AuthService from "@/services/AuthService";

export default {
  components: {
    SystemTopBar,
    SystemLeftMenu,
    SystemFooter,
  },
  data() {
    return { loading: false, autoUpdaterTimer: "" };
  },
  computed: {
    ...mapState(["token"]),
  },

  methods: {
    logout: function () {
      if (
        this.$store.state.token == "" ||
        this.$store.state.token == null ||
        this.$store.state.token == undefined
      ) {
        this.$router.push("/login");
      }
    },

    getLoggedUserData: async function () {
      try {
        const user = await AuthService.loggedUser();
        this.$store.commit("storeUser", user);
      } finally {
      }
    },
  },

  watch: {
    token: {
      handler: "logout",
    },
  },

  async mounted() {
    try {
      this.loading = true;
      await this.getLoggedUserData();
    } finally {
      this.loading = false;
    }
    this.autoUpdaterTimer = setInterval(this.getLoggedUserData, 60000);
  },

  beforeDestroy() {
    clearInterval(this.autoUpdaterTimer);
  },
};
</script>