<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <LoadingModal v-model="loading" />

    <v-card>
      <v-card-title>
        {{ $route.params.id > 0 ? "Editar cargo" : "Novo cargo" }}
      </v-card-title>

      <v-card-text>
        <v-form v-model="valid" ref="form">
          <v-row>
            <v-col>
              <v-text-field
                v-model="position.name"
                label="Nome do cargo"
                :rules="nameRules"
              ></v-text-field>
            </v-col>
          </v-row>

          <v-row justify="end">
            <v-col cols="auto" @click="$router.back()">
              <v-btn><v-icon small>mdi-arrow-left-circle</v-icon> Voltar</v-btn>
            </v-col>
            <v-col cols="auto">
              <v-btn color="success" :loading="saving" @click="save()">
                <v-icon small>mdi-content-save</v-icon> Salvar
              </v-btn>
            </v-col>
          </v-row>
        </v-form>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import PositionService from "@/services/PositionService";
import { required, maxLength } from "@/rules";
export default {
  props: ["id"],
  data() {
    return {
      breadcrumbs: [
        {
          text: "Cargos",
          to: "/system/positions",
        },
        {
          text: this.$route.params.id > 0 ? "Editar cargo" : "Novo cargo",
          disabled: true,
        },
      ],
      valid: false,
      saving: false,
      loading: false,
      position: {},
      nameRules: [required(), maxLength(255)],
    };
  },
  methods: {
    save: async function () {
      if (!this.$refs.form.validate()) return;

      this.saving = true;
      try {
        if (this.$route.params.id > 0)
          await PositionService.edit(this.position);
        else await PositionService.create(this.position);

        this.$snotify.success("Informações salvas com sucesso");
        this.$router.back();
      } finally {
        this.saving = false;
      }
    },
  },
  async mounted() {
    this.loading = true;
    if (this.$route.params.id > 0)
      this.position = await PositionService.get(this.$route.params.id);
    this.loading = false;
  },
};
</script>