<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <v-card>
      <v-card-title>
        <v-row>
          <v-col> Cargos </v-col>
          <v-col cols="auto">
            <v-btn
              color="primary"
              small
              :to="{ name: 'positions-edit', params: { id: 0 } }"
            >
              <v-icon small>mdi-plus</v-icon> Novo cargo
            </v-btn>
          </v-col>
        </v-row>
      </v-card-title>

      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="positions"
          :options.sync="options"
          :items-per-page="perPage"
          :server-items-length="totalRecords"
          :loading="loading"
        >
          <template v-slot:[`item.actions`]="{ item }">
            <DeleteAlertModal
              v-if="hasPermission('POSITION.CRUD')"
              @delete="deletePosition(item.id)"
            />
            <v-btn
              color="primary"
              :to="{ name: 'positions-edit', params: { id: item.id } }"
              icon
            >
              <v-icon>mdi-pencil</v-icon>
            </v-btn>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import PositionService from "@/services/PositionService";
export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Colaboradores",
          disabled: true,
        },
        {
          text: "Gerenciar cargos",
          disabled: true,
        },
      ],
      headers: [
        {
          text: "Cargo",
          value: "name",
        },
        {
          text: "Ações",
          value: "actions",
          align: "end",
          filterable: false,
          sortable: false,
        },
      ],
      options: {
        sortBy: ["name"],
        sortDesc: [false],
      },
      totalRecords: 0,
      perPage: 10,
      positions: [],
      loading: false,
    };
  },
  watch: {
    options: {
      handler() {
        this.fetchPositions();
      },
      deep: true,
    },
  },
  methods: {
    fetchPositions: function () {
      this.loading = true;
      this.positions = [];

      return PositionService.paginate({ ...this.options })
        .then((response) => {
          this.positions = response.data;
          this.totalRecords = response.meta.total;
        })
        .finally(() => (this.loading = false));
    },
    deletePosition: function (id) {
      return PositionService.delete(id).then(() => {
        this.fetchPositions();
      });
    },
  },
};
</script>