<template>
  <div>
    <v-breadcrumbs class="elevation-1 my-4" :items="breadcrumbs" />

    <v-card>
      <v-card-title>Usuários</v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="4"> <UsersByDepartment height="400px" /> </v-col>
          <v-col cols="4"> <UsersByPosition height="400px" /> </v-col>
          <v-col cols="4"> <UsersByProfile height="400px" /> </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
export default {
  data() {
    return {
      breadcrumbs: [
        {
          text: "Dashboard",
        },
      ],
    };
  },
};
</script>
