<template>
  <div :id="chart_id" :style="{ height: height }"></div>
</template>

<script>
import * as echarts from "echarts";
import DashboardService from "@/services/DashboardService";
export default {
  props: ["height"],
  data() {
    return {
      chart_id: "users-by-department-chart",
      myChart: null,
      loading: false,
    };
  },
  methods: {
    fetchData: async function () {
      try {
        this.loading = true;
        const response = await DashboardService.usersByDepartment();
        const labels = response.map((item) => {
          return item.name;
        });
        const total = response.map((item) => {
          return item.total;
        });

        this.myChart.setOption({
          xAxis: {
            data: labels,
          },
          series: [
            {
              name: "Departamentos",
              type: "bar",
              data: total,
            },
          ],
        });
      } finally {
        this.loading = false;
      }
    },
  },
  mounted() {
    this.fetchData();

    this.myChart = echarts.init(document.getElementById(this.chart_id));

    this.myChart.setOption({
      title: {
        text: "Usuários por departamento",
      },
      tooltip: {},
      xAxis: {
        data: [],
      },
      yAxis: {},
      series: [],
    });
  },
};
</script>