<template>
  <div>
    <v-form ref="form" v-model="valid" @submit.prevent="changePassword()">
      <v-card outlined>
        <v-card-title>Alterar senha</v-card-title>
        <v-card-text>
          <v-text-field
            label="Senha atual"
            v-model="form.password"
            :rules="rules.password"
            type="password"
            outlined
            dense
          />
          <v-text-field
            label="Nova senha"
            v-model="form.new_password"
            :rules="rules.password"
            type="password"
            outlined
            dense
          />
          <v-text-field
            label="Confirmar nova senha"
            v-model="form.new_password_confirm"
            :rules="rules.new_password_confirm"
            type="password"
            outlined
            dense
          />
        </v-card-text>
        <v-card-actions>
          <v-btn block color="error" :loading="loading" type="submit">
            Alterar Senha
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import AuthService from "@/services/AuthService";
import { required, maxLength, minLength } from "@/rules";

export default {
  data() {
    return {
      valid: false,
      form: {
        password: "",
        new_password: "",
        new_password_confirm: "",
      },
      rules: {
        password: [required(), minLength(6), maxLength(16)],
        new_password: "",
        new_password_confirm: [
          required(),
          (v) =>
            v == this.form.new_password || "Senha e confirmação não conferem",
        ],
      },
      loading: false,
      snack: {
        show: false,
        text: "",
        timeout: 3000,
        color: "",
        icon: "",
      },
    };
  },
  methods: {
    changePassword: async function () {
      if (!this.$refs.form.validate()) return;

      this.loading = true;
      try {
        const response = await AuthService.changePassword(
          this.form.password,
          this.form.new_password
        );

        this.form.password = "";
        this.form.new_password = "";
        this.form.new_password_confirm = "";
        this.$refs.form.resetValidation();
        this.$snotify.success(response);
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>