<template>
  <div>
    <v-form v-model="valid" @submit.prevent="updateUser()">
      <v-card outlined>
        <v-card-title>Alterar dados do usuário</v-card-title>
        <v-card-text>
          <v-text-field
            label="name"
            v-model="name"
            :rules="nameRules"
            outlined
            dense
          />
          <v-text-field
            label="E-mail"
            v-model="email"
            :rules="emailRules"
            outlined
            dense
          />
        </v-card-text>
        <v-card-actions>
          <v-btn block color="success" :loading="loading" type="submit">
            Salvar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import UserService from "@/services/UserService";
import { required, email } from "@/rules";

export default {
  data() {
    return {
      valid: false,
      name: this.$store.state.user.name,
      nameRules: [required()],
      email: this.$store.state.user.email,
      emailRules: [required(), email()],
      loading: false,
      snack: {
        show: false,
        text: "",
        timeout: 3000,
        color: "",
        icon: "",
      },
    };
  },
  methods: {
    updateUser: async function () {
      this.loading = true;
      console.log(this.$store.state.user.id);
      try {
        const user = await UserService.edit({
          id: this.$store.state.user.id,
          name: this.name,
          email: this.email,
        });

        this.$store.commit("storeUser", user);
        this.$snotify.success("Dados alterados com sucesso.");
      } finally {
        this.loading = false;
      }
    },
  },
};
</script>