<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col lg="4" md="6">
        <v-form v-model="valid" ref="form" @submit.prevent="login()">
          <v-card>
            <v-toolbar color="primary" dark elevation="1">
              <v-icon left>mdi-login</v-icon>
              <span>Login</span>
            </v-toolbar>

            <v-card-text>
              <v-text-field
                v-model="form.email"
                :rules="rules.email"
                label="E-mail"
                type="email"
                filled
                autofocus
              ></v-text-field>
              <v-text-field
                v-model="form.password"
                :rules="rules.password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPassword ? 'text' : 'password'"
                label="Senha"
                filled
                @click:append="showPassword = !showPassword"
              ></v-text-field>

              <v-row>
                <v-col>
                  <v-btn block color="primary" type="submit" :loading="loading">
                    Login
                  </v-btn>
                </v-col>
              </v-row>
              <v-row justify="center">
                <router-link to="/recover-password">
                  Esqueceu sua senha? Clique aqui
                </router-link>
              </v-row>
            </v-card-text>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AuthService from "@/services/AuthService";
import { required, email, maxLength, minLength } from "@/rules";
function formData() {
  return {
    email: "",
    password: "",
  };
}

function formRules() {
  return {
    email: [required(), email()],
    password: [required(), minLength(6), maxLength(20)],
  };
}

export default {
  data: () => ({
    form: formData(),
    rules: formRules(),
    showPassword: false,
    loading: false,
    valid: false,
  }),
  methods: {
    login: function () {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
      AuthService.login(this.form.email, this.form.password)
        .then((response) => {
          this.$store.commit("storeUser", response.user);
          this.$store.commit("storeToken", response.token);
          this.$router.push("system");
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
  beforeCreate() {
    if (this.$store.state.token != null && this.$store.state.token != "") {
      this.$router.push("/system");
    }
  },
};
</script>