<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-col lg="4" md="6">
        <v-form v-model="valid" ref="form" @submit.prevent="submit()">
          <v-card>
            <v-toolbar color="primary" dark elevation="1">
              <v-icon left>mdi-lock-reset</v-icon>
              <span>Recuperação de senha</span>
            </v-toolbar>

            <v-card-text>
              <v-text-field
                v-model="form.email"
                :rules="rules.email"
                label="E-mail"
                type="email"
                filled
                autofocus
              ></v-text-field>

              <v-row>
                <v-col>
                  <v-btn block color="primary" type="submit" :loading="loading">
                    Recuperar senha
                  </v-btn>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import AuthService from "@/services/AuthService";
import { required, email, maxLength, minLength } from "@/rules";
function formData() {
  return {
    email: "",
  };
}

function formRules() {
  return {
    email: [required(), email()],
  };
}

export default {
  data: () => ({
    form: formData(),
    rules: formRules(),
    loading: false,
    valid: false,
  }),
  methods: {
    submit: function () {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
    },
  },
};
</script>